.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.6); 
    position:fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    z-index: 10;
}

.modal.active {
transform: scale(1);
}

.modal-content {
    padding: 20px;
  background-color: #FFFF00;
  box-shadow: 2px 2px 5px rgba(0, 0, 0.2, 0.5);
  color: black;
  min-width: 300px;
  display:flex;
  flex-direction: column;
}

.modal-content .note-text {
  height: 100px;
}

.btn-box {
    display:flex;
  flex-direction:row;
  justify-content: end;
}

.save-note-button {
    width: 30%;
    padding: 5px;
    background-color: #424056;
    box-shadow: 2px 2px 5px rgba(0, 0, 0.2, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'Architects Daughter';
    font-size: 1rem;
}

